@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=greek-ext');

body {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.7;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-gray-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        animation: moveToRight .5s ease-in-out;

        @media only screen and (max-width: 640px) {
            font-size: 4rem;
        }

    }

    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 0.75rem;
        animation: moveToLeft .5s ease-in-out;

        @media only screen and (max-width: 640px) {
            font-size: 2rem;
            letter-spacing: 0.15rem;
        }
    }

    &--black {
        display: block;
        font-size: 5rem;
        font-weight: 700;
        color: $color-black;
        text-transform: uppercase;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: $color-white
}





.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}