.error {

    &-box {

        margin: $navbar-height auto 0;
        width: 80%;
        color: white;
        border-radius: 5px;
        text-align: center;
        padding: 5px 0;

        &__message {
            background-color: #AB1914;
        }
    }

    &-message {
        color: red;
    }
}