@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }

}

@mixin text-gradient {
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
}