// COLORS
$color-btn-primary: #009688;
$color-btn-hover: #00BFAC;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #cecece;
$color-gray-light-2: #eee;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 128rem;
$grid-width-cart: 100rem;
$gutter-vertical: 8rem;
$gutter-horizontal-card: 1.5rem;
$gutter-horizontal-cart: 10rem;
$gutter-horizontal: 6rem;

//FONT
$default-font-size: 1.6rem;

//NAVIGATION BAR
$navbar-height: 6rem;
$navbar-padding: 0.5rem;